{% extends 'home/base.html.twig' %}

{% block title %}Editar Mi Perfil{% endblock %}

{% block content %}
    <h1>Editar Mi Perfil</h1>

    {# Desactivar Turbo para forzar navegación completa y mostrar flashes tras redirect #}
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Actualizar</button>
    {{ form_end(form) }}

    <a class="btn btn-secondary" href="{{ path('app_profile_show') }}">Volver a mi perfil</a>
{% endblock %}
