{% extends 'home/base.html.twig' %}

{% block title %}Nuevo Movimiento de Stock{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Nuevo Movimiento de Stock</h1>
        <div class="btn-group">
            <a href="{{ path('app_stock_movement_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver al listado
            </a>
        </div>
    </div>

    {% set cardBody %}
        {{ include('stock_movement/_form.html.twig') }}
    {% endset %}

    {% include 'partials/_card.html.twig' with {
        title: 'Datos del Movimiento',
        content: cardBody,
        color: 'light'
    } %}
{% endblock %}
