{% extends 'home/base.html.twig' %}

{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    <div class="row g-4">

        <div class="col-lg-12 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Más Información</h3>
                    <p class="card-text">Puedes agregar cualquier contenido aquí y se mostrará correctamente en el layout.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
