{% extends 'home/base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block content %}
    <h1>Crear nueva Categoría</h1>

    {{ include('categoria/_form.html.twig') }}

    <a class="btn btn-secondary mt-3" href="{{ path('app_categoria_index') }}">Volver al listado</a>
{% endblock %}
