{% extends 'home/base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block breadcrumbs %}
  {% include 'partials/_breadcrumbs.html.twig' with {
    items: [
      { label: 'Categorías', route: 'app_categoria_index' },
      { label: 'Nueva', active: true }
    ]
  } %}
{% endblock %}

{% block content %}
    <h1>Crear nueva Categoría</h1>

    {{ include('categoria/_form.html.twig') }}
{% endblock %}
